<div *ngIf="data$ | async as data">
  <h2>Data List</h2>
  {{ data | json }}
  <ul>
    <li *ngFor="let dataItem of data">
      {{ dataItem.id }} {{ dataItem.name }}
      <button (click)="editData(dataItem)">Update</button>
      <button (click)="deleteData(dataItem.id)">Delete</button>
    </li>
  </ul>

  <h2>Create New Data</h2>
  <form [formGroup]="titleControl">
    <input
      type="text"
      [(ngModel)]="title.name"
      name="name"
      placeholder="name"
      formControlName="name"
      #dataTitleInput
    />
    <button
      *ngIf="!isEdit"
      [disabled]="titleControl.invalid"
      (click)="createNewData()"
    >
      Create
    </button>
    <button *ngIf="isEdit" (click)="updateExistingData()">update</button>
  </form>
</div>
<app-sub></app-sub>
